* {
    /* border: solid 1px; */
    color: blue;
}

ul {
    list-style: none;
    text-align: center;
    border-top: solid 3px;
    border-bottom: solid 3px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 10px;
    border-color: red;
    font-size: 50px;
}

ul li {
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
}